body {
background-color: rgb(8, 8, 67);
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.app {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}